---
import Link from './ui/link.astro';
import { t } from '../i18n';

const { lang } = Astro.props;
---

<div class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    {t(lang, 'joinCtaHeader')}
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    {t(lang, 'joinCtaDescription')}
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">{t(lang, 'joinButton')}</Link>
  </div>
</div>
