---
import { t } from '../i18n';

const { lang } = Astro.props;
---

<div
  class="rounded-2xl border border-dashed border-white/[0.10] bg-white/[0.02] px-8 py-12 text-center max-w-2xl mx-auto mt-8"
>
  <div class="inline-flex items-center justify-center w-10 h-10 rounded-xl bg-brand-500/10 text-brand-400 mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5" aria-hidden="true">
      <path
        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
      ></path>
    </svg>
  </div>
  <p class="text-sm font-medium text-slate-300 mb-1">
    {t(lang, 'newsNoNews')}
  </p>
  <a
    href="https://github.com/Athletics-Intelligence-AGH"
    target="_blank"
    rel="noopener noreferrer"
    class="mt-4 inline-flex items-center gap-2 text-sm text-brand-400 font-medium transition hover:text-brand-300"
  >
    Follow on GitHub
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4" aria-hidden="true">
      <path
        fill-rule="evenodd"
        d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0113 17.25h-8.5A2.25 2.25 0 012.25 15v-8.5A2.25 2.25 0 014.5 4.25h5a.75.75 0 010 1.5h-5z"
        clip-rule="evenodd"></path>
      <path
        fill-rule="evenodd"
        d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
        clip-rule="evenodd"></path>
    </svg>
  </a>
</div>
