---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';
import { type Lang } from "../i18n";

export interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>AGH Athletics Intelligence</title>
  </head>
  <body>
    <Navbar lang={lang} />
    <slot />
    <Footer lang={lang} />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
